body, html{
  font-family: 'Roboto', sans-serif;
  /*background: #000;*/
  color: #fff;
  width: 100%;
  height: 100%;
  margin: 0;
}

a{
	text-decoration: none;
}

/* First Section */

.firstSection{
	width: 100%;
    height: 100vh;
	text-align: center;
	font-weight: lighter;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	margin-top: -60px;
  }

.firstSection h1{
  font-weight: lighter;
  font-size: 24px;
}

.backgroundVideo{
	position: absolute;
  	right: 0;
 	bottom: 0;

  	min-width: 100%;
  	min-height: 100%;
  	z-index: -1;
  	background: #000;
  	overflow: hidden;
}

.backgroundVideo video{
	filter: blur(5px) brightness(.4);
	margin: -5px -10px -10px -5px;
}


.logo{
	width: 100%;
	max-width: 313px;
	height: auto;
	text-align: center;
}

.downloadImg{
  max-height: 50px;
  margin: 5px;
}

/* General Sections */

.allSections{
	display: flex;
	width: 100%;
	padding: 50px 0 ;
	background: #000;
	border-top: 10px solid rgba(255,255,255, 0.1);
}

.allSections h2{
	font-size: 2.7rem;
	margin: 0;
}

.allSections h3{
	font-weight: 400;
}

.allSections .text{
	max-width: 600px;
}

/*Second Section*/

.secondSection .left{
	flex: 1;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.secondSection .left img{
	height: 600px;
	margin-right: 50px;
}

.secondSection .right{
	flex: 1;
	display: flex;
	flex-flow: column;
	justify-content: center;
}

/*Third Section*/

.thirdSection .text{
	text-align: right;
}

.thirdSection .left{
	flex: 1;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: flex-end;
}

.thirdSection .right{
	flex: 1;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.thirdSection .right img{
	height: 600px;
	margin-left: 50px;
}

/* Footer */

footer {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	height: 500px;
	padding: 50px;
	background: #000;
	border-top: 10px solid rgba(255,255,255, 0.1);
}

footer h2{
	font-size: 2.7rem;
	margin: 0;
}

footer h3{
	font-weight: 400;
}

footer input{
	background: rgba(255, 255, 255, .15);
	font-family: 'Roboto', sans-serif;
	font-size: 1.3rem;
	font-weight: lighter;
	color: rgba(255, 255, 255, .7);
	width: 400px;
	height: 25px;
	border: 0;
	border-radius: 10px 0 0 10px;
	margin-top: 50px;
	padding: 10px 20px;
	outline: none;
}

footer button{
	background: rgba(255, 255, 255, .35);
	color: rgba(255, 255, 255, .7);
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
	font-size: 1.2rem;
	width: 75px;
	height: 25px;
    padding: 10px;
    border: 0;
	border-radius: 0 10px 10px 0;
    vertical-align: bottom;
    box-sizing: content-box;
}


/*media queries*/
@media (min-aspect-ratio: 16/9) {
    .backgroundVideo {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    .backgroundVideo { 
        width:auto;
        height: 100%;
    }
}


@media (max-width: 1000px){
	.allSections{
		flex-flow: column;
		justify-content: center;
		align-items: center;
	}

	.allSections .text{
		text-align: center;
	}

	.secondSection .left img{
		height: 450px;
		margin: 20px 0;
	}

	.thirdSection{
		flex-flow: column-reverse;
	}

	.thirdSection .right img{
		height: 450px;
		margin: 20px 0;
	}
}

@media (max-width: 767px) {
	.backgroundVideo{
		background: url('assets/videoScreenshot.png');
        background-size: cover;
        transform: scale(1.1);
    	filter: blur(5px) brightness(.4);
	}

    .backgroundVideo video {
        display: none;
    }
}

@media (max-width: 650px){
	.allSections .text{
		padding: 0 20px;
	}

	.allSections h2{
		font-size: 1.8rem;
	}

	.allSections h3{
		font-size: 1rem;
	}

	footer{
		padding: 10px;
		text-align: center;
	}

	footer h2{
		font-size: 1.8rem;
	}

	footer h3{
		font-size: 1rem;
	}

	footer input{
		width: 50%;
		font-size: 1rem;
	}

	footer button{
		font-size: 1rem;
	}
}