body, html{
  font-family: 'Roboto', sans-serif;
  /*background: #000;*/
  color: #fff;
  width: 100%;
  height: 100%;
  margin: 0;
}

a{
	text-decoration: none;
}

.firstPage{
	width: 100%;
    height: 100vh;
	text-align: center;
	font-weight: lighter;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	margin-top: -60px;
  }

.firstPage h1{
  font-weight: lighter;
  font-size: 24px;
}

.firstPage .backgroundVideo{
	position: absolute;
  	right: 0;
 	bottom: 0;
  	min-width: 100%;
  	min-height: 100%;
  	z-index: -1;
  	background: #000;
  	overflow: hidden;
}

.firstPage .backgroundVideo video{
	filter: blur(5px) brightness(.4);
	margin: -5px -10px -10px -5px;
}


.logo{
	width: 313px;
	height: auto;
	text-align: center;
}

.downloadImg{
  max-height: 50px;
  margin: 5px;
}

.allSections{
	width: 100%;
	border-top: 10px solid rgba(255,255,255, 0.1);
	padding: 50px 0 ;
	display: flex;
	background: #000;
}

.allSections .text{
	max-width: 600px;
}

.secondPage .left{
	flex: 1;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.secondPage .left img{
	margin-right: 50px;
}

.secondPage .right{
	flex: 1;
	display: flex;
	flex-flow: column;
	justify-content: center;
}

/*Third Page*/

.thirdPage .text{
	text-align: right;
}

.thirdPage .left{
	flex: 1;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: flex-end;
}

.thirdPage .left h2{
	font-size: 2.7rem;
	margin: 0;
}

.thirdPage .left h3{
	font-weight: 400;
}

.thirdPage .right{
	flex: 1;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.thirdPage .right img{
	margin-left: 50px;
}

.secondPage .right h2{
	font-size: 2.7rem;
	margin: 0;
}

.secondPage .right h3{
	font-weight: 400;
}